

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 11px;}

html {
	height: 100%;
	/*Image only BG fallback*/
}
body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 100%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
select.form-control-school
{
	height:50px;
	margin:0;
	vertical-align: middle;
	background:#f8f8f8;

	font-size: 14px;
	font-weight: 300;
	line-height: 50px;
	color: #888;
	margin-bottom: 10px;
	padding:6px;
	box-shadow: none;

}
/*buttons*/
#msform .action-button {
	width: 75px;
	background: #9DD044;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 20px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .email-send{
	width: 20px;
	background:  #F2F2F2;
	font-weight: 100;
	color: grey;
	border: 0 none;
	/*border-radius: 100%;*/
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	margin-top:-1px;
	font-family: montserrat;
}
#msform .email-check{
	width: 20px;
	background:  #F2F2F2;
	font-weight: 100;
	color: grey;
	border: 0 none;
	/*border-radius: 100%;*/
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	margin-top:-1px;
	font-family: montserrat;
}

/*#msform .email-send-school{*/
	/*width: 20px;*/
	/*background: #9DD044;*/
	/*font-weight: bold;*/
	/*color: white;*/
	/*border: 0 none;*/
	/*border-radius: 10px;*/
	/*cursor: pointer;*/
	/*padding: 10px 5px;*/
	/*margin: 10px 5px;*/
	/*margin-top:-1px;*/
/*}*/
/*#msform .email-check-school{*/
	/*width: 20px;*/
	/*background: #9DD044;*/
	/*font-weight: bold;*/
	/*color: white;*/
	/*border: 0 none;*/
	/*border-radius: 10px;*/
	/*cursor: pointer;*/
	/*padding: 10px 5px;*/
	/*margin: 10px 5px;*/
	/*margin-top:-1px;*/

/*}*/
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #9DD044;
}
/*headings*/
.fs-title {
	font-size: 20px;
	font-weight:900;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 15px;
	color: #666;
	margin-bottom: 20px;
}
.fs-subtitle-general{
	font-weight: normal;
	font-size: 14px;
	color: #666;
	margin-left:-20px;
	margin-top:10px;
}
.fs-subtitle-school{
	font-weight: normal;
	font-size: 14px;
	color: #666;
	margin-top:0px;
	margin-left:-20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #9DD044;
	color: white;
}
a.tooltips {
	position: relative;
	display: inline;
}
a.tooltips span {
	font-size : 14px;
	position: absolute;
	width: 160px;
	color: #FFFFFF;
	background: #000000;
	height: auto;
	line-height: 40px;
	text-align: center;
	display: none;
	border-radius: 6px;
}
a.tooltips span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-top: 8px solid #000000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
a:hover.tooltips span {
	display: block;
	opacity: 0.8;
	bottom: 30px;
	left: 50%;
	margin-left: -76px;
	z-index: 999;
}
/* 클릭 시 노출로 바꾸려면 a:hover 를 a:focus 로 변경*/


